* {
    box-sizing: border-box;
}

#deckedit {
    font-family: monospace;
    font-size: 12px;
}

.mainContainer {
    width: 100%;
    height: 100%;
}

.left {
    height: 100%;
    float: left;
    width: 24%;
}
/*
.cardImage {
    top: 0%;
    left: 0%;
    width: 179px;
    height: 38%;
    border: 1px solid blue;
    min-height: 256px;
    display: block;
}*/

.cardDescription {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 59.25%;
    border: 1px solid red;
    padding: 12px;
    overflow: auto;
}

.f40 img {
    float: left;
}

.f50 img {
    float: left;
    margin-right: -10px;
}

.f60 img {
    float: left;
    margin-right: -20px;
}

.searchBar {
    float: right;
    width: 75.7%;
    height: 22%;
}

.searchLeft {
    float: left;
    height: 100%;
    width: 33.33%;
    padding: 1%;
    border: 1px solid yellow;
    overflow-y: auto;
}

input.decknameInput {
    float: right;
    display: block;
    width: 65%;
    margin-right: 5%;
}

button.shuffleDeck {
    float: right;
    width: 20%;
    margin-top: 3%;
    margin-right: -19.9%;
}

button.sortDeck {
    float: right;
    width: 20%;
    margin-top: 3%;
    margin-right: 2%;
}

button.clearDeck {
    float: right;
    width: 20%;
    margin-top: 3%;
    margin-right: 2%;
}

button.saveDeck {
    width: 20%;
    float: right;
    margin-top: -4.5%;
}

button.saveDeckAs {
    width: 20%;
    float: right;
    white-space: nowrap;
}

button.deleteDeck {
    display: block;
    width: 20%;
    float: right;
}

.searchRight {
    float: right;
    height: 100%;
    width: 66.66%;
    /*    border: 1px solid orange;*/
    
    overflow: auto;
}

.center {
    height: 78%;
    width: 51%;
    border: 1px solid red;
    float: left;
}

.mainDeck {
    float: left;
    height: 66%;
    width: 100%;
    border: 1px solid blue;
    min-width: 390px;
}

.extraDeck {
    float: left;
    height: 17.25%;
    width: 100%;
    border: 1px solid green;
}

.sideDeck {
    float: left;
    height: 17.25%;
    width: 100%;
    border: 1px solid yellow;
}

.right {
    float: right;
    height: 78%;
    width: 25%;
    border: 1px solid green;
}

.searchResults {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

div.descriptionContainer span {
    width: 84%;
    float: right;
}

div.thumbContainer img {
    float: left;
    width: 100%;
}

.maincontainer label {
    width: 33%;
    display: block;
    float: left;
}

.maincontainer select {
    width: 45%;
    display: block;
    float: left;
}

label,
select,
button {
    margin-bottom: 1%;
    line-height: 1em;
}

.resultDiv {
    overflow: auto;
    border: 1px solid black;
}

.mainDeck img {
    width: 66px;
}

.sideDeck img,
.extraDeck img {
    width: 52px;
}

[data-card-limit="0"]:before {
    content: '';
    /* background-color: red; */
    
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(http://ygopro.us/img/lim.png);
    background-size: 42px 41px;
}

[data-card-limit="1"]:before {
    content: '';
    /* background-color: yellow; */
    
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(http://ygopro.us/img/lim.png);
    background-size: 42px 41px;
    background-position-x: 20px;
}

[data-card-limit="2"]:before {
    content: '';
    /* background-color: blue; */
    
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(http://ygopro.us/img/lim.png);
    background-size: 42px 41px;
    background-position-y: 20px;
}

span.cardImage {
    float: left;
    width: 15%;
    position: relative;
}

#deckedit label select {
    width: 6vw;
    float: left;
}

#deckedit label {
    /* border: 2px solid white; */
    /* overflow: auto; */
    
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    clear: left;
}

label[for="typeSelect"] {
    width: 32vw !important;
}

#deckedit label span {
    display: inline-block;
    float: left;
    padding-right: 25px;
    width: 7vw;
}

.searchBlock {
    width: 50%;
    float: left;
}

#deckedit br {
    display: block;
    height: 1em;
    width: 100%;
    clear: both;
}

#deckedit select.attributeSelect,
#deckedit select.raceSelect,
#deckedit select.setcodeSelect {
    width: 10em;
}