html * {
    border: 1px solid black;
}
#mainContainer {
    width: 100%;
    height: 100%;
}
#left {
    height: 100%;
	float: left;
	width: 24%;
}
#cardimage {
    position: static;
	top: 0%;
	left: 0%;
	width: 177px;
	height: 254px;
}
#cardDescription {
    position: static;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 60.2%;
}
#searchBar {
	float: right;
	width: 75%;
	height: 25%;
}
#searchLeft {
    float: left;
	height: 100%;
	width: 33%;
}
#banlistSelect {
    float: left;
	height: 15%;
	margin-top: 5%;
}
#shuffleDeck {
    float: right;
	height: 15%;
	bottom: 0%;
}
#sortDeck {
    float: right;
	height: 15%;
	bottom: 0%;
}
#clearDeck {
    float: right;
	height: 15%;
	bottom: 0%;
}
#searchRight {
    float: right;
	height: 100%;
	width: 66%;
}
#searchLeft {
    position: static;
	top: 0%;
	left: 0%;
	width: 33%;
	height: 100%;
}
#center {
    width: 50%;
    left: 25%;
    right: 25%;
}
#right {
    float: right;
	height: 74.5%;
	width: 25%;
}
#searchResults {
	height: 100%;
	width: 100%;
}
	
	