# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#nodejs
node_modules/*
server/node_modules/*
client/ygopro/*
server/ygocore/*.dll
server/ygocore/*.exe
server/ygocore/ErrorLog.txt
server/ygocore/error_log/*
server/http/manifest/*
server/http/ygopro/*
!server/http/ygopro/script/*

#project-Agnotistic
*.conf
*.manifest
*.zip
*.tar
*.tar.gz
*crash*