[submodule "server/ygocore/source"]
	path = server/ygocore/source
	url = https://github.com/SalvationDevelopment/YGOCore
[submodule "server/ygosharp/source"]
	path = server/ygosharp/source
	url = https://github.com/IceYGO/ygosharp
[submodule "server/http/ygopro/pics"]
	path = server/http/ygopro/pics
	url = https://github.com/SalvationDevelopment/YGOPro-Images
[submodule "server/ocgcore"]
	path = server/ocgcore
	url = https://github.com/SalvationDevelopment/YGOPro-Library-Builder
[submodule "server/http/ygopro/script"]
	path = server/http/ygopro/script
	url = https://github.com/SalvationDevelopment/Salvation-Scripts-TCG
