[submodule "ygocore/source"]
	path = ygocore/source
	url = https://github.com/SalvationDevelopment/YGOCore
[submodule "ygosharp/source"]
	path = ygosharp/source
	url = https://github.com/IceYGO/ygosharp
[submodule "http/ygopro/pics"]
	path = http/ygopro/pics
	url = https://github.com/SalvationDevelopment/YGOPro-Images
[submodule "ocgcore"]
	path = ocgcore
	url = https://github.com/SalvationDevelopment/YGOPro-Library-Builder
[submodule "http/ygopro/script"]
	path = http/ygopro/script
	url = https://github.com/SalvationDevelopment/Salvation-Scripts-TCG
[submodule "ygopro-core"]
	path = ygopro-core
	url = https://github.com/Fluorohydride/ygopro-core
[submodule "SnarkyLua"]
	path = SnarkyLua
	url = https://github.com/Snarkie/YGOProAIScript
[submodule "ygopro-tcg-scripts"]
	path = ygopro-tcg-scripts
	url = https://github.com/SalvationDevelopment/ygopro-tcg-scripts
    

