[submodule "ygocore/source"]
	path = ygocore/source
	url = https://github.com/SalvationDevelopment/YGOCore
[submodule "ygosharp/source"]
	path = ygosharp/source
	url = https://github.com/IceYGO/ygosharp
[submodule "http/ygopro/pics"]
	path = http/ygopro/pics
	url = https://github.com/SalvationDevelopment/YGOPro-Images
[submodule "ocgcore"]
	path = ocgcore
	url = https://github.com/SalvationDevelopment/YGOPro-Library-Builder
[submodule "http/ygopro/script"]
	path = http/ygopro/script
	url = https://github.com/SalvationDevelopment/Salvation-Scripts-TCG
