# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#nodejs
node_modules/*
server/node_modules/*
client/ygopro/*
client/dn/*.jpg
/ygosharp/Mono.Data.Sqlite.dll
ygosharp/OCGWrapper.dll
ygosharp/SevenZip.dll
ygosharp/YGOSharp.Network.dll
ygosharp/YGOSharp.exe
ygosharp/YGOSharp.exe.config
ygosharp/YGOSharp.vshost.exe
ygosharp/YGOSharp.vshost.exe.config
ygosharp/sqlite3.dll
ygosharp/*.txt
installer/output*
installer/input/*
coverage/*

server/http/setups/*
*.bat
*.mp3
*.ogg
*.log
*.ini
*.msi
*.zip


#project-Agnotistic
*.manifest
*.zip
*.tar
*.tar.gz
*crash*
*.log.*
*.yrp
server/http/ygopro/deck.exe
*.lua
documentation/~$ygopro id sheet.xlsx
databases/deckStorage.nedb
