*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url(http/img/magimagipinkshadow2.jpg);
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 200;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    transition: background-image 2s ease-in;
    height: 100vh;
    -webkit-animation-name: lightshow;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate-reverse;
}

@keyframes lightshow {
    0% {
        background-image: url(http/img/magimagipinkshadow2.jpg);
    }
    25% {
        background-image: url(http/img/magimagipinkshadow2.jpg);
    }
    75% {
        background-image: url(http/img/magimagipinkshadow.jpg);
    }
    100% {
        background-image: url(http/img/magimagipinkshadow2.jpg);
    }
}

#full_site {
    background: black;
}

#forum>header {
    padding: 1%;
    padding-bottom: 0;
    border-bottom: 1px solid #444;
    overflow: auto;
    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 0px white;
    font-weight: 300;
}

#forum>header>h1 {
    width: 50%;
    float: left;
    color: white;
    font-size: 10vw;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    padding: 0;
    line-height: 1.2em;
    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 0px white;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 300;
}

#forum>header>h2 {
    font-size: 1em;
    opacity: 50%;
    width: 50%;
    color: silver;
    font-weight: normal;
    float: left;
    clear: left;
}

#forum>header>nav {
    float: right;
    height: 100%;
    padding-top: 6em;
    padding-right: 1%;
}

#forum>header>nav>input,
.section_bg>input {
    border: 1px solid rgba(26, 26, 26, 0.25);
    border-radius: 5px;
    background-repeat: repeat;
    box-shadow: inset rgba(255, 255, 255, 0.08) 0px 0px 0px 1px, inset rgba(255, 255, 255, 0.15) 0px 1px 0px;
    background-image: url('./img/box_pattern.png');
    padding: .5em 2em;
    text-align: center;
}

#forum>main {
    width: 100%;
    margin: 0 auto;
    padding: 5% 10%;
    background: rgba(0, 0, 0, .5);
}

#forum>aside {
    width: 100%;
    margin: 0 auto;
    padding: 10%;
    overflow: auto;
    background: rgba(0, 0, 0, .5);
}

.section_header {
    font-weight: 400;
    line-height: 1.2;
    font-size: 1.2em;
    margin-bottom: 1em;
    border-radius: 5px;
}

section {
    border: 1px solid rgba(26, 26, 26, 0.25);
    border-radius: 5px;
    background: rgba(100, 12, 75, .75) repeat repeat;
    box-shadow: inset rgba(255, 255, 255, 0.08) 0px 0px 0px 1px, inset rgba(255, 255, 255, 0.15) 0px 1px 0px;
    background-image: url('./img/box_pattern.png');
}

.section_bg {
    border-radius: 5px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, .15) 100%);
    padding: 15px;
}

.index_categories {
    overflow: auto;
    margin-bottom: 1em;
    border: 1px solid rgba(100, 100, 100, 0.55);
    box-shadow: inset 0 0 10px black;
    border-radius: 15px;
    box-shadow: inset rgba(0, 0, 0, 1) 0px 0px 5px 5px, inset rgba(255, 255, 255, 0.15) 0px 1px 0px;
}

.index_title {
    font-weight: bold;
    line-height: 1.2;
    font-size: 1.2em;
    margin-bottom: .5em;
    color: white;
}

.index_description {
    font-size: .8em;
    margin-left: 2em;
    /* margin-bottom: 1em; */
    line-height: 2em;
    display: inline-block;
    height: 2em;
    opacity: .5;
}

.category {
    padding: 15px;
    width: 100%;
    overflow: auto;
    box-shadow: inset rgba(255, 255, 255, 0.08) 0px 0px 1px 1px, inset rgba(255, 255, 255, 0.15) 0px 1px 0px;
    border: 1px solid rgba(26, 26, 26, 0.25);
    background: rgba(25, 25, 25, .85);
}

.category>div {
    float: left;
}

.category_title {
    font-weight: bold;
    border-bottom: 1px solid white;
    width: 50%;
    cursor: pointer;
}

.category_description {
    padding-left: 3em;
    padding-bottom: 15px;
    font-weight: normal;
}

.category_icon {
    width: 5%;
    margin-right: 2em;
}

.category_icon img {
    width: 100%;
    height: auto;
    background: white;
    border-radius: 11px;
}

.category_post_count {
    font-weight: bold;
    width: 15%;
    text-align: right;
}

.category_last_post {
    width: 26%;
    padding: 0 2em;
    font-weight: bold;
}

.category_last_post span {
    font-weight: normal;
}

aside .category_last_post {
    width: 100%;
    padding: 0;
}

.author_info {
    width: 33%;
    float: left;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.post_content {
    border-left: 1px solid white;
    width: 66%;
    float: left;
    padding: 2vw;
}

.post_title {
    border: 1px solid white;
    padding: 1em;
    width: 100%;
}

.post {
    width: 100%;
}