.card,.overlayunit { -webkit-transform-style: preserve-3d; width:63px; height:86px; background:rgba(200,100,200,.2);
    position:absolute; -z-index: 3; -webkit-transition: all 500ms;
    z-index: 1;
}
.card.DECK { -webkit-transition: left 150ms;}
.nocard {
    display:none;
}
.p0,.p1 {position:absolute; display:block}

.p0.DECK         {bottom : 10px; left: 632px; }
.p0.HAND         {bottom : -50px; left: 124px; }
.p0.EXTRA        {bottom : 10px; left: 97px; }
.p0.GRAVE        {bottom : 207px; left: 633px; }
.p0.REMOVED      {bottom : 207px; left: 713px; }

.p0.SPELLZONE.i0     {bottom :64px; left:190px;}
.p0.SPELLZONE.i1     {bottom :64px; left:276px;}
.p0.SPELLZONE.i2     {bottom :64px; left:364px;}
.p0.SPELLZONE.i3     {bottom :64px; left:453px;}
.p0.SPELLZONE.i4     {bottom :64px; left:541px;}
.p0.SPELLZONE.i5     {bottom :207px; left:97px;}/*fiendspell*/
.p0.SPELLZONE.i6     {bottom :108px; left:97px;}/*penzoneblue*/
.p0.SPELLZONE.i7     {bottom :108px; left:633px;}/*penzonered*/

.p0.MONSTERZONE.i0,.overlayunit.p0.i0   {bottom :154px; left:190px;}
.p0.MONSTERZONE.i1,.overlayunit.p0.i1   {bottom :154px; left:276px;}
.p0.MONSTERZONE.i2,.overlayunit.p0.i2   {bottom :154px; left:360px;}
.p0.MONSTERZONE.i3,.overlayunit.p0.i3   {bottom :154px; left:453px;}
.p0.MONSTERZONE.i4,.overlayunit.p0.i4   {bottom :154px; left:541px;}


.p1.DECK         {top : 10px; right: 639px; }
.p1.HAND         {top : -50px; right: 124px; }
.p1.EXTRA        {top : 10px; right: 106px; }
.p1.GRAVE        {top : 207px; right: 640px; }
.p1.REMOVED      {top : 207px; right: 719px; }

.p1.SPELLZONE.i0     {top :64px; right:190px;}
.p1.SPELLZONE.i1     {top :64px; right:276px;}
.p1.SPELLZONE.i2     {top :64px; right:373px;}
.p1.SPELLZONE.i3     {top :64px; right:453px;}
.p1.SPELLZONE.i4     {top :64px; right:541px;}
.p1.SPELLZONE.i5     {top :207px; right:106px;}/*fiendspell*/
.p1.SPELLZONE.i6     {top :108px; right:106px;}/*penzoneblue*/
.p1.SPELLZONE.i7     {top :108px; right:633px;}/*penzonered*/

.p1.MONSTERZONE.i0,.overlayunit.p1.i0     {top :154px; right:190px;}
.p1.MONSTERZONE.i1,.overlayunit.p1.i1     {top :154px; right:276px;}
.p1.MONSTERZONE.i2,.overlayunit.p1.i2     {top :154px; right:364px;}
.p1.MONSTERZONE.i3,.overlayunit.p1.i3     {top :154px; right:453px;}
.p1.MONSTERZONE.i4,.overlayunit.p1.i4     {top :154px; right:541px;}


.p0 [data-postition=FaceDownAttack],.p0 [data-position=FaceDown]  {-webkit-transform: rotate3d(0,0,0,0deg );
    content:url(http://salvationdevelopment.com/launcher/ygopro/pics/cover.jpg) }
.p0 [dataposition=FaceDownDefense]{-webkit-transform: rotate(90deg );
    content: url(http://salvationdevelopment.com/launcher/ygopro/pics/cover.jpg) }
.p0 [data-position=FaceUpDefence] { -webkit-transform: rotate(90deg ); }
.p0 [data-position=AttackFaceUp],.p0 [data-position=FaceUp]  {-webkit-transform: rotate3d(0,0,0,0deg ); }

.p1 [data-position=FaceDownAttack],.p1 [data-position=FaceDown]  {-webkit-transform: rotate3d(0,0,1,180deg );
    content:url(http://salvationdevelopment.com/launcher/ygopro/pics/cover.jpg) }
.p1 [data-position=FaceDownDefense]{-webkit-transform: rotate(90deg ) rotate3d(0,0,1,180deg );
    content:url(http://salvationdevelopment.com/launcher/ygopro/pics/cover.jpg) }
.p1 [data-position=FaceUpDefence] { -webkit-transform: rotate(90deg ) rotate3d(0,0,1,180deg ); }
.p1 [data-position=AttackFaceUp],.p1 [data-position=FaceUp]  {-webkit-transform: rotate3d(0,0,1,180deg ); }

.overlayunit.p0[data-overlayunit="0"] { -webkit-transform: translateX(3px)}
.overlayunit.p0[data-overlayunit="1"] { -webkit-transform: translateX(-3px)}
.overlayunit.p0[data-overlayunit="2"] { -webkit-transform: translateX(6px)}

.overlayunit.p1[data-overlayunit="0"] { -webkit-transform: translateX(-3px)}
.overlayunit.p1[data-overlayunit="1"] { -webkit-transform: translateX(3px)}
.overlayunit.p1[data-overlayunit="3"] { -webkit-transform: translateX(-6px)}

meter.p1lp {-webkit-transform: rotateY(180deg);}