
.p0 {position:absolute; display:block}

.p0.Deck         {bottom : 43px; left: 735px; }
.p0.Hand         {bottom : -10px; left: 124px; }
.p0.Extra        {bottom : 43px; left: 22px; }
.p0.Grave        {bottom : 181px; left: 735px; }



.p0.SpellZone.i0     {bottom :188px; left:144px;}
.p0.SpellZone.i1     {bottom :188px; left:261px;}
.p0.SpellZone.i2     {bottom :188px; left:379px;}
.p0.SpellZone.i3     {bottom :188px; left:497px;}
.p0.SpellZone.i4     {bottom :188px; left:614px;}
.p0.SpellZone.i5     {bottom :188px; left:;}


.p0.MonsterZone.i0     {bottom :250px; left:144px;}
.p0.MonsterZone.i1     {bottom :250px; left:261px;}
.p0.MonsterZone.i2     {bottom :250px; left:379px;}
.p0.MonsterZone.i3     {bottom :250px; left:497px;}
.p0.MonsterZone.i4     {bottom :250px; left:614px;}


.p1 {position:absolute; display:block}

.p1.Deck         {top : 43px;right: 744px; }
.p1.Hand         {top : -10px; right: 124px; }
.p1.Extra        {top : 43px; right: 32px; }
.p1.Grave        {top : 181px; right: 735px; }
 

.p1.SpellZone.i0     {top :117px; right:144px;}
.p1.SpellZone.i1     {top :117px; right:261px;}
.p1.SpellZone.i2     {top :117px; right:379px;}
.p1.SpellZone.i3     {top :117px; right:497px;}
.p1.SpellZone.i4     {top :117px; right:614px;}
.p1.SpellZone.i5     {top :188px; right:;}


.p1.MonsterZone.i0     {top :250px; right:144px;}
.p1.MonsterZone.i1     {top :250px; right:261px;}
.p1.MonsterZone.i2     {top :250px; right:379px;}
.p1.MonsterZone.i3     {top :250px; right:497px;}
.p1.MonsterZone.i4     {top :250px; right:614px;}

.card { -webkit-transform-style: preserve-3d; width:83px; height:124px; background:blue; position:absolute; -z-index: 3; -webkit-transition: all 500ms;}
.card.deck { -webkit-transition: left 150ms;}


.card div {
    display: block;
  position: absolute;
  width: 100%;
  height: 100%;
    background-size:cover;
   
}
.card .front {
  background:yellow;
}
.card .back {background-image:url('../img/cover.jpg');
    background-size: 100% 100%;
    -webkit-transform: rotate3d(0,1,0, 180deg );

}
.Defense{
    -webkit-transform: rotate3d(0,0,1, 90deg );
}
.Defense .back {-webkit-transform: rotate3d(0,1,0, 180deg );}


.FaceDownAttack  {-webkit-transform: rotate3d(0,1,0,180deg ); }
.FaceUpDefence { -webkit-transform: rotate3d(0,0,1, 90deg ) rotate3d(0,1,0, 180deg ); }
.AttackFaceUp div, .FaceUp div {
    -webkit-backface-visibility: hidden
}