.card { -webkit-transform-style: preserve-3d; width:63px; height:86px; background:rgba(200,100,200,.2);
    position:absolute; -z-index: 3; -webkit-transition: all 500ms;
    z-index: 1;
}
.card.DECK { -webkit-transition: left 150ms;}

.p0,.p1 {position:absolute; display:block}

.p0.DECK         {bottom : 10px; left: 632px; }
.p0.HAND         {bottom : -10px; left: 124px; }
.p0.EXTRA        {bottom : 10px; left: 97px; }
.p0.GRAVE        {bottom : 207px; left: 633px; }
.p0.REMOVED      {bottom : 207px; left: 713px; }



.p0.SPELLZONE.i0     {bottom :64px; left:190px;}
.p0.SPELLZONE.i1     {bottom :64px; left:276px;}
.p0.SPELLZONE.i2     {bottom :64px; left:364px;}
.p0.SPELLZONE.i3     {bottom :64px; left:453px;}
.p0.SPELLZONE.i4     {bottom :64px; left:541px;}
.p0.SPELLZONE.i5     {bottom :207px; left:97px;}/*fiendspell*/
.p0.SPELLZONE.i6     {bottom :108px; left:97px;}/*penzoneblue*/
.p0.SPELLZONE.i7     {bottom :108px; left:633px;}/*penzonered*/


.p0.MONSTERZONE.i0     {bottom :154px; left:190px;}
.p0.MONSTERZONE.i1     {bottom :154px; left:276px;}
.p0.MONSTERZONE.i2     {bottom :154px; left:364px;}
.p0.MONSTERZONE.i3     {bottom :154px; left:453px;}
.p0.MONSTERZONE.i4     {bottom :154px; left:541px;}


.p1.DECK         {top : 10px; right: 639px; }
.p1.HAND         {top : -10px; right: 124px; }
.p1.EXTRA        {top : 10px; right: 106px; }
.p1.GRAVE        {top : 207px; right: 633px; }
.p1.REMOVED      {top : 207px; right: 713px; }



.p1.SPELLZONE.i0     {top :64px; right:190px;}
.p1.SPELLZONE.i1     {top :64px; right:276px;}
.p1.SPELLZONE.i2     {top :64px; right:364px;}
.p1.SPELLZONE.i3     {top :64px; right:453px;}
.p1.SPELLZONE.i4     {top :64px; right:541px;}
.p1.SPELLZONE.i5     {top :207px; right:106px;}/*fiendspell*/
.p1.SPELLZONE.i6     {top :108px; right:106px;}/*penzoneblue*/
.p1.SPELLZONE.i7     {top :108px; right:633px;}/*penzonered*/


.p1.MONSTERZONE.i0     {top :154px; right:190px;}
.p1.MONSTERZONE.i1     {top :154px; right:276px;}
.p1.MONSTERZONE.i2     {top :154px; right:364px;}
.p1.MONSTERZONE.i3     {top :154px; right:453px;}
.p1.MONSTERZONE.i4     {top :154px; right:541px;}



.nocard {
    display:none;
}
.card div {
    display: block;
  position: absolute;
  width: 100%;
  height: 100%;
    background-size:cover;
   
}
.card .front {
  background:yellow;
}
.card .back {background-image:url('../img/cover.jpg');
    background-size: 100% 100%;
    -webkit-transform: rotate3d(0,1,0, 180deg );

}
.Defense{
    -webkit-transform: rotate3d(0,0,1, 90deg );
}
.Defense .back {-webkit-transform: rotate3d(0,1,0, 180deg );}


[data-position=FaceDownAttack]  {-webkit-transform: rotate3d(0,1,0,180deg ); }
[data-position=FaceUpDefence] { -webkit-transform: rotate3d(0,0,1, 90deg ) rotate3d(0,1,0, 180deg ); }
[data-position=AttackFaceUp]  {-webkit-transform: rotate3d(0,0,0,0deg ); }