::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar {
    width: 20px;
}

#gamelistswitch {
    text-align: center;
    color: white;
    font-weight: bold;
}

#gamelistswitch span {
    display: inline-block;
    width: 48%
}

#gamelistswitchmanual {
    color: black;
    text-shadow: 0 0 5px white;
}

.game,
.manualgame {
    background: rgba(0, 0, 0, .65);
    width: 48%;
    min-height: 40px;
    max-height: 60px;
    float: left;
    border: 1px solid;
    margin: .5% 1%;
    padding: 5px;
    color: white;
    cursor: pointer;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.manualgame.started {
    color: #888;
    width: 23%;
}

.game.true:before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    content: "";
    background-image: url(http://cdn.flaticon.com/png/256/45467.png);
    background-size: fill;
}

#gamelistitems {
    overflow-y: auto;
    height: 70vh;
    width: 80vw;
}

sction#gamelist {
    display: flex;
}

#gamelistfilter {
    height: 90vh;
    width: 20vw;
    text-align: center;
    background: rgba(0,0,0,.7);
    border: 1px solid #444;
    box-shadow: 0 0 10px #000;
}

#gamelist select,
#gamelist input {
    display: inline-block;
    background: transparent;
    color: gray;
    margin: 1vh;
    border: 1px solid white;
    padding: 1%;
    width: 12em;
}

#gamelist button {
    width: 12em;
    margin: 1vh;
    color: white;
    background: rgba(190, 0, 100, .50);
    /* box-shadow: 0 0 20px black, inset 0 0 2px #fff;
        border: 1px solid black; */
}

.game.started {
    opacity: 1;
    border-color: grey;
    color: grey;
}

.game span {
    text-align: right;
    /* width: 30%; */
    display: inline-block;
    padding: 2px;
    border: 1px solid silver;
    line-height: 1em;
    margin-top: 4px;
    padding-top: 0px;
    padding-bottom: 6px;

}

.game span+span {
    position: absolute;
    right: 5px;
    top: 0px;
}

#gamelist {
    display: flex;
}

.gamelistcenter {
    width: 33vw;
    margin: 0 auto;
    border: 1px solid#444;
    color: white;
    padding: 10px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px black;
    height: 3em;
    text-align: center;
    position: absolute;
    bottom: 10vh;
    left: 33vw;
}


div[data-cardpool="OCG"] {
    /* OCG */
    border-color: yellow;
    color: yellow;
}

div[data-cardpool="OCG"]:not(.started) {
    background-image: url(../img/ocg.png);
    background-size: 100% 100%;
    color: white;
    background-size: cover;
}

.started[data-cardpool="OCG"] {
    background-image: url(../img/faded-ocg.png);
    background-color: rgba(0, 0, 0, .5) !important;
    border: 1px solid grey;
    color: grey;
    background-size: cover;
}

div[data-cardpool="OCG/TCG"] {
    /* TCG */
    border-color: blue;
    color: blue;
}

div[data-cardpool="TCG"]:not(.started) {
    background-image: url(../img/tcg.png);
    background-size: cover;
    color: white;
    background-size: cover;
}

.started[data-cardpool="TCG"] {
    background-image: url(../img/faded-tcg.png);
    background-color: rgba(0, 0, 0, .5) !important;
    border: 1px solid grey;
    color: grey;
    background-size: cover;
}

div[data-cardpool="OCG/TCG"] {
    /* TCG/OCG */
    border-color: green;
    color: green;
}

div[data-cardpool="OCG/TCG"] {
    background-image: url(../img/tcgocg.png);
    background-size: cover;
    color: white;
}

.started[data-cardpool="OCG/TCG"] {
    background-image: url(../img/faded-tcgocg.png);
    background-color: rgba(0, 0, 0, .5) !important;
    border: 1px solid grey;
    color: grey;
    background-size: cover;
}

div[data-cardpool="Anime"]:not(.started) {
    /* Anime */
    background-image: url(../img/anime.png);
    background-size: cover;
    color: white;
    background-size: cover;
}

.started[data-cardpool="Anime"] {
    background-image: url(../img/faded-anime.png);
    background-color: rgba(0, 0, 0, .5) !important;
    border: 1px solid grey;
    color: grey;
    background-size: cover;
}

div[data-mode="Single"] {
    width: 23%;
}


div[data-mode="Match"] {
    /* match */
    border-width: 2px;
}


div[data-mode="Tag"] {
    /* tags */
}


.illegal {
    background: red !important;
    border: 1px solid orange;
}

.started.illegal {
    background: rgba(0, 0, 0, .5) !important;
    border: 1px solid grey;
    background-size: cover;
    color: grey;
    border: 1px solid grey;
}

[data-arg] {
    background-image: url('../img/arg.png') !important;
    background-color: rgba(0, 0, 0, .5) !important;
    background-size: cover;
    text-shadow: 0px 0px 19px black;
    border: 1px solid grey;
    background-repeat: no-repeat !important;
    background-size: cover;
}

.started[data-arg] {
    background-image: url('../img/faded-arg.png') !important;
    background-color: rgba(0, 0, 0, .5) !important;
    background-size: cover;
    border: 1px solid grey;
    color: grey;
}

[data-world-championship] {
    background-image: url('../img/newgiohtoken.png') !important;
    background-color: rgba(255, 255, 0, .5) !important;
    background-size: cover;
    text-shadow: 0px 0px 19px black;
    background-repeat: no-repeat !important;
    background-size: cover;
}

.started[data-world-championship] {
    background-image: url('../img/outnewgiohtoken.png') !important;
    background-color: rgba(0, 0, 0, .5) !important;
    background-size: cover;
    border: 1px solid grey;
    color: grey;
}

[data-banlist*="Goat"] {
    background-image: url('../img/goat.png') !important;
    background-color: rgba(0, 0, 0, .5) !important;
    background-size: contain !important;
    text-shadow: 0px 0px 19px black;
    background-repeat: no-repeat !important;
    border: 1px solid pink;
}

/* Cheating
.game[data-shuffledeck="false"] {
    background: red;
    font-weight: bold;
    background-size: cover;
    color: white;
    border: 2px;
} */