<main>
    <section class="section_header">
        <div class="section_bg">
            Forums
        </div>
    </section>




    <div class="index_categories">
        <div class="category">
            <div class="post" onclick="viewPost('{{_id}}')">

                <div class="post_title">
                    {{title}}
                </div>
                <div class="">
                    <div class="author_info">
                        <img / >
                        <div class="author_set">
                            {{author}}
                        </div>
                    </div>

                    <div class="post_content">
                        {{{content}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>