<header>
    <h1>
        Forums
    </h1>
</header>

<main>


    <section class="index">
        {{#each result}}
        <div class="index_title">
            {{title}}
        </div>
        <div class="index_description">
            {{description}}
        </div>

        <div class="index_categories">
            {{#each categories}}
            <div class="category_title">
                {{title}}
            </div>
            <div class="category_description">
                {{description}}
            </div>
            {{/each}}
        </div>
        {{/each}}
    </section>
</main>
<aside>

</aside>
<footer>

</footer>