<table>
    {{#each this}}
    <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Cumulative Tournament Points</th>
    </tr>
    <tr>
        <td>{{counter @index}}</td>
        <td>{{name}}</td>
        <td>{{points}}</td>
    </tr>
    {{/each}}
    </table