<table>
    <tr style="font-weight:bold">
        <td>Rank</td>
        <td>Username</td>
        <td>Cumulative Tournament Points</td>
    </tr>
    {{#each this}}

    <tr>
        <td>{{counter @index}}</td>
        <td>{{name}}</td>
        <td>{{points}}</td>
    </tr>
    {{/each}}
    </table