#deckedit * {
    box-sizing: border-box !important;
}

.left,
.right,
.center {
    float: left;
}

#deckedit {
    font-family: monospace;
    font-size: 12px;
}

.mainContainer {
    width: 100%;
    height: 100%;
}

.left {
    height: 100%;
    float: left;
    width: 15%;
}


/*
.cardImage {
    top: 0%;
    left: 0%;
    width: 179px;
    height: 38%;
    border: 1px solid blue;
    min-height: 256px;
    display: block;
}*/

img.imgContainer {
    margin: auto;
    display: block;
    height: 90%;
    max-width: 100%;
}

.cardDescription {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 50%;
    border: 1px solid #444;
    padding: 2%;
    overflow: auto;
    background: rgba(0, 0, 0, .5);
    font-size: 0.8em;
    line-height: 1.8em;
}

pre.description {
    font-family: sans-serif;
}

.f40 img {
    float: left;
}

.f50 img {
    float: left;
    margin-right: -.8vw;
}

.f60 img {
    float: left;
    margin-right: -1.6vw;
}

.searchBar {
    height: 100%;
    float: left;
    width: 16%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: .5%;
    border: 1px solid #444;
    margin: 0 1%;
    background: rgba(0, 0, 0, .5);
}

.searchBar.closed {
    right: -50.5vw;
}

#deckedit .cardImage {
    height: 50%;
}

input.decknameInput {
    float: right;
    display: block;
    width: 65%;
    margin-right: 5%;
}

.center {
    height: 100%;
    width: 33%;
    border: none;
    float: left;
    margin-left: 15px;
}

.center .searchwrapper {
    width: 10%;
}

#deckedit .center img {
    width: 100%;
    margin: 0;
    height: auto;
}

.center .mainDeck {
    float: left;
    width: 100%;
    padding: 5px;
    border: 1px solid yellow;
    min-height: 19vw;
    background-color: rgba(255, 255, 0, .3);
}

.extraDeck {
    float: left;
    width: 100% !important;
    border: 1px solid green;
    padding: 5px;
    margin-top: 5px;
    min-height: 5vw;
    background-color: rgba(0, 125, 0, .3);
}

.sideDeck {
    float: left;
    width: 100% !important;
    border: 1px solid blue;
    padding: 5px;
    margin-top: 5px;
    min-height: 5vw;
    background-color: rgba(0, 0, 255, .3);
}

.infoclass {
    /* height: 1em; */
    border: 1px solid white;
    float: left;
    width: 100%;
    margin: 1vh 0;
    padding: .4em;
    font-size: .8em;
}

.infoclass.infoclassmain {
    border-color: yellow;
    background-color: rgba(255, 255, 0, .3);
}

.infoclass.infoclassextra {
    border-color: green;
    background-color: rgba(0, 125, 0, .3);
}

.infoclass.infoclassside {
    border-color: blue;
    background-color: rgba(0, 0, 255, .3);
}

.right {
    height: 74%;
    width: 15%;
    border: 1px solid #444;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.searchResults {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

div.descriptionContainer span {
    width: 84%;
    float: right;
}

div.thumbContainer img {
    float: left;
    width: 100%;
}

.maincontainer label {
    width: 33%;
    display: block;
    float: left;
}

.maincontainer select {
    width: 45%;
    display: block;
    float: left;
}

label,
select {
    margin-bottom: 1%;
    line-height: 1em;
}

#deckedit button {
    /* margin-bottom: 1%; */
    /* line-height: 1.2em; */
    /* width: 4vw; */
    /* white-space: nowrap; */
    /* padding: 0; */
    background: rgba(0, 0, 0, .85);
    border: 1px solid silver;
    color: white;
    width: 31%;
}

.resultDiv {
    overflow: auto;
    border: 1px solid black;
}

.mainDeck img {
    width: 4.73vw;
    height: 14vh;
}

.sideDeck img,
.extraDeck img {
    width: 3.13vw;
    margin-top: 1.5vh;
}

[data-card-limit="0"]:before {
    content: '';
    /* background-color: red; */
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/textures/lim.png);
    background-size: 42px 41px;
    z-index: 10;
}

input#deckupload {
    width: 100% !important;
    clear: both;
}

[data-card-limit="1"]:before {
    content: '';
    /* background-color: yellow; */
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/textures/lim.png);
    background-size: 42px 41px;
    background-position-x: 20px;
    z-index: 10;
}

[data-card-limit="2"]:before {
    content: '';
    /* background-color: blue; */
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(http://ygopro.us/img/textures/lim.png);
    background-size: 42px 41px;
    background-position-y: 20px;
    z-index: 10;
}

span.cardImage {
    float: left;
    width: 15%;
    position: relative;
}

#deckedit label span {
    display: inline-block;
    float: left;
    padding-right: 25px;
    width: 7vw;
}

.searchBar label {
    width: 100%;
}

.searchLeft {
    position: relative;
    overflow: auto;
}

.mainDeck span.cardImage {
    width: auto;
}

.sideDeck span.cardImage {
    width: auto;
}

.extraDeck span.cardImage {
    width: auto;
}

.descriptionContainer {
    float: left;
    font-size: 1.2vh;
    width: 18vw;
    line-height: 1.5vh
}

.mainContainer {
    font-size: 1.8vh;
    line-height: 3.1vh !important;
}

img.deckeditcard.card {
    float: left;
    /* clear: both; */
    position: relative;
    margin: 2px;
}

div#pagebuttons div {
    width: 50%;
    float: left;
    cursor: pointer;
}

div#pageforward {
    text-align: right;
}

#deckedit label {
    display: block;
    width: 100%;
}

#deckedit select {
    float: right;
    width: 10em;
}

#deckedit .searchBlock select {
    float: right;
    width: 100%;
}

#deckedit input {
    width: 66%;
    float: right;
    margin-left: 1em;
}

label[for="typeSelect"] {
    width: 100% !important;
}

.right .searchwrapper img {
    width: 90%;
    height: auto;
}

.searchwrapper {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    float: left;
    border: 1px solid transparent;
    opacity: .9;
}

.right .searchwrapper {
    width: 33% !important;
}

#decktextoutput {
    float: left;
    width: 15%;
    margin-left: 1%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    padding: 5px;
    color: white;
    border: 1px solid #444;
    font-size: 10px;
    overflow: auto;
}

.searchwrapper:hover {
    box-sizing: border-box;
    border: 1px dashed white !important;
}

.searchwrapper:hover img {
    opacity: 1;
}

div#deckeditloading {
    background: black;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
}

#deckedit select.searchrange {
    width: 3em;
}

#deckedit label {
    height: 1em;
}

select.monsterTypeSelect {
    width: 50% !important;
    float: left !important;
}

select.monsterCardSelect {
    width: 50% !important;
    float: left !important;
}