#deckedit * {
    box-sizing: border-box !important;
}

he #deckedit {
    font-family: monospace;
    font-size: 12px;
}

.mainContainer {
    width: 100%;
    height: 100%;
}

.left {
    height: 100%;
    float: left;
    width: 24%;
}


/*
.cardImage {
    top: 0%;
    left: 0%;
    width: 179px;
    height: 38%;
    border: 1px solid blue;
    min-height: 256px;
    display: block;
}*/

.cardDescription {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 55.25%;
    border: 1px solid #444;
    padding: 12px;
    overflow: auto;
    background: rgba(0, 0, 0, .5);
    font-size: 0.8em;
}

pre.description {
    font-family: sans-serif;
}

.f40 img {
    float: left;
}

.f50 img {
    float: left;
    margin-right: -.8vw;
}

.f60 img {
    float: left;
    margin-right: -1.6vw;
}

.searchBar {
    float: right;
    width: 73.7%;
    height: 22%;
    position: absolute;
    top: 8vh;
    right: 0;
    background: rgba(0, 0, 0, .85);
    border: 1px solid #444;
}

.searchBar.closed {
    right: -50.5vw;
}

.searchLeft {
    float: left;
    height: 100%;
    width: 33.33%;
    padding: 1%;
    /*    border: 1px solid yellow;*/
    padding-bottom: 0;
    overflow-y: auto;
}

input.decknameInput {
    float: right;
    display: block;
    width: 65%;
    margin-right: 5%;
}

.searchRight {
    float: right;
    height: 100%;
    width: 66.66%;
    /*    border: 1px solid orange;*/
    overflow: auto;
}

.center {
    height: 75%;
    width: 483px;
    border: none;
    float: left;
    background: rgba(0, 0, 0, .5);
    margin-left: 15px;
    margin-top: 23vh;
}

#deckedit .center img {
    width: 45px;
    margin: 0;
    height: auto;
}

.center .mainDeck {
    float: left;
    height: 285px;
    width: 483px;
    min-width: 390px;
    padding: 5px;
    border: 1px solid yellow;
}

.extraDeck {
    float: left;
    height: 17.25%;
    width: 100% !important;
    border: 1px solid green;
    padding: 5px;
    margin-top: 5px;
}

.sideDeck {
    float: left;
    height: 17.25%;
    width: 100% !important;
    border: 1px solid hotpink;
    padding: 5px;
    margin-top: 5px;
}

.right {
    height: 74%;
    width: 20.5%;
    border: 1px solid #444;
    background: rgba(0, 0, 0, .5);
    margin-top: 23vh;
    margin-left: .5%;
}

.searchResults {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

div.descriptionContainer span {
    width: 84%;
    float: right;
}

div.thumbContainer img {
    float: left;
    width: 100%;
}

.maincontainer label {
    width: 33%;
    display: block;
    float: left;
}

.maincontainer select {
    width: 45%;
    display: block;
    float: left;
}

label,
select {
    margin-bottom: 1%;
    line-height: 1em;
}

#deckedit button {
    margin-bottom: 1%;
    line-height: 1.2em;
    width: 4vw;
    white-space: nowrap;
    padding: 0;
    background: rgba(0, 0, 0, .85);
    border: 1px solid silver;
    color: white;
}

button.shuffleDeck {
    margin-top: 0.2vw;
    margin-left: 3.25vw;
}

.resultDiv {
    overflow: auto;
    border: 1px solid black;
}

.mainDeck img {
    width: 4.73vw;
    height: 14vh;
}

.sideDeck img,
.extraDeck img {
    width: 3.13vw;
    margin-top: 1.5vh;
}

[data-card-limit="0"]:before {
    content: '';
    /* background-color: red; */
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/textures/lim.png);
    background-size: 42px 41px;
    z-index: 10;
}

[data-card-limit="1"]:before {
    content: '';
    /* background-color: yellow; */
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/textures/lim.png);
    background-size: 42px 41px;
    background-position-x: 20px;
    z-index: 10;
}

[data-card-limit="2"]:before {
    content: '';
    /* background-color: blue; */
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(http://ygopro.us/img/textures/lim.png);
    background-size: 42px 41px;
    background-position-y: 20px;
    z-index: 10;
}

span.cardImage {
    float: left;
    width: 15%;
    position: relative;
}

#deckedit label select {
    width: 11.5vw;
    float: right;
    margin-right: 7vw;
    font-size: 1.7vh;
}

#deckedit select.deckSelect {
    margin-left: 2.1vw;
}

#deckedit label {
    /* border: 2px solid white; */
    /* overflow: auto; */
    display: block;
    margin: 0;
    padding: 0;
    float: left;
    clear: left;
}

label[for="typeSelect"] {
    width: 32vw !important;
}

#deckedit label span {
    display: inline-block;
    float: left;
    padding-right: 25px;
    width: 7vw;
}

.searchBlock {
    width: 50%;
    float: left;
}

#deckedit br {
    display: block;
    height: 1em;
    width: 100%;
    clear: both;
}

label[for="decknameInput"] > * {
    float: left;
}

.searchBar input {
    height: 2.5vh;
}

input.decknameInput {
    width: 11.5vw;
    float: right;
    margin-right: 7vw;
    margin-top: -0.1vw;
}

button.saveDeck {
    float: right;
    margin-top: -3vw;
    margin-right: 0.9vw;
}


/*
button.saveDeckAs {
    float: right;
    margin-top: -1.5vw;
    margin-right: 0.9vw;
}
*/

button.deleteDeck {
    float: right;
    margin-top: -1.4vw;
    margin-right: 0.9vw;
}

select.raceSelect {
    margin-left: 2.65vw;
}

input.defInput {
    margin-left: 1vw;
    width: 8vw;
}

input.atkInput {
    margin-left: 1vw;
    width: 8vw;
}

.searchBar label {
    width: 100%;
}

.mainDeck span.cardImage {
    width: auto;
}

.sideDeck span.cardImage {
    width: auto;
}

.extraDeck span.cardImage {
    width: auto;
}

.descriptionContainer {
    float: left;
    font-size: 1.2vh;
    width: 18vw;
    line-height: 1.5vh
}

select.typeSelect,
select.trapSelect {
    margin-right: 14vw !important;
}

select.forbiddenLimitedSelect {
    margin-right: 10vw !important;
}

.mainContainer {
    font-size: 1.8vh;
    line-height: 3.1vh !important;
}

input.levelInput,
input.scaleInput {
    float: right;
    margin-right: 7vw;
}

#deckedit .searchBlock input {
    float: right;
    margin-right: 7vw;
}

select.forbiddenLimitedSelect {
    margin-right: 7vw !important;
}

button.searchtoggle {
    position: absolute;
    top: 9vh;
    right: 0%;
    height: 20%;
    width: 1% !important;
    background: black;
    border: 5px solid silver;
    z-index: 50;
}

img.deckeditcard.card {
    float: left;
    /* clear: both; */
    position: relative;
    margin: 4px;
}

div#pagebuttons div {
    width: 50%;
    float: left;
    cursor: pointer;
}

div#pageforward {
    text-align: right;
}

label[for="typeSelect"] {
    width: 100% !important;
}

select.trapSelect {
    float: right;
    margin-right: 28% !important;
    padding: 0;
    /* width: 23% !important; */
}

select.typeSelect {
    width: 48% !important;
    float: left;
    margin-right: 29% !IMPORTANT;
}

.right .searchwrapper img {
    width: 110px;
    height: 158px;
}

.searchwrapper {
    position: relative;
    width: auto !important;
    height: auto;
    overflow: auto;
    float: left;
    border: 1px solid black;
    background: black;
    opacity: .9;
}

#decktextoutput {
    float: left;
    width: 17vw;
    margin-left: 10px;
    margin-top: 24vh;
    height: 70%;
    background: transparent;
    padding: 5px;
    color: white;
    border: 1px solid silver;
    font-size: 10px;
    overflow: auto;
}

.searchwrapper:hover {
    box-sizing: border-box;
    border: 1px dashed white !important;
}

.searchwrapper:hover img {
    opacity: 1;
}

div#deckeditloading {
    background: black;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
}