.tourney_col {
    width: 20%;
    float: left;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.entry {
    border: 1px solid white;
    padding: 5px;
    margin: 1%;
    display: flex;
    flex: 1;
}

.entry button {
    width: 10%;
    /* font-size: 0px; */
    height: 2em;
    color: transparent;
    margin-left: 2.5%;
}

input.entryname {
    background: transparent;
    border: 1px solid white;
    border-left: 0;
    width: 75%;
}


}
.entry > * {
    /* display: block; */
    /* height: 1.5em; */
    
    align-self: center;
}
.entry > * {
    display: block;
    /* height: 1.5em; */
    
    align-self: center;
}
.entry:before {
    content: "";
    /* background: silver; */
    
    width: 5px;
    height: 50%;
    margin-top: 45%;
    border: 1px solid white;
    border-left: none;
}
tourney_rd1 .entry:before {
    display: none;
}