div#brackets {
    width: 100%;
    height: 100%;
}

.tourney_col {
    width: 20%;
    float: left;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.entry {
    margin: 1%;
    display: flex;
    flex: 1;
    position: relative;
}

.entry button {
    width: 10%;
    /* font-size: 0px; */
    height: 2em;
    color: transparent;
    margin-left: 2.5%;
    border: none;
}

input.entryname {
    background: transparent;
    border: 1px solid white;
    border-left: 0;
    width: 75%;
    margin-left: 5px;
    color: white;
}

#tourney_rd1 input.entryname {
    border-left: 1px solid white;
}


}
.entry > * {
    /* display: block; */
    /* height: 1.5em; */
    
    align-self: center;
}
.entry > * {
    display: block;
    /* height: 1.5em; */
    
    align-self: center;
}
.entry:before {
    content: "";
    width: 5px;
    height: 50%;
    border: 1px solid white;
    border-left: none;
    position: absolute;
    top: 25%;
    left: 0px;
}
#tourney_rd1 .entry:before {
    display: none;
    border: none;
}
button.lose {
    background: red;
}
button.win {
    background: green;
}
#ACP {
    width: 100%;
    border: 1px solid white;
}