/* 
    Document   : dragdrop
    Created on : 15.09.2013, 22:09:06
    Author     : ben
    Description:
        Purpose of the stylesheet follows.
*/

#zone_m1 {
    width: 70px;
    height: 100px;
    border: 1px solid red;
}

#zone_m2 {
    width: 70px;
    height: 100px;
    border: 1px solid red;
}
