body {
  /* background-image: url('../pics/bg3.png');
  background-repeat: repeat; */

}

.rechts {
  float: right;
}

.unstyle {
  list-style: none;
  font-family: Verdana;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}

.ergebnis_ausgabe_suche {
  width: 200px;  
  float: right;
  height: 60px;
  border: 1px solid silver;
  padding: 10px;
}


.ergebnis_ausgabe_suche_bilder {
  float: left;
}
/* Filter für die Kartenauswahl */
#filter_monster_dropdown {
    display: none;
}
#filter_zauber_dropdown {
    display: none;
}
#filter_fallen_dropdown {
    display: none;
}
#filter_div_monster_erweiterung {
    display: none;
}


/* DECKFIELDS */
#mainDeckHeader{
    position: absolute;
    top: 150px;
    left: 200px;
    width: 600px;
    height: 16px;
    border: 1px solid silver;
    padding: 10px;
    border: 1px solid silver;
    z-index: 10;
}
#mainDeck{
    position: absolute;
    top: 190px;
    left: 200px;
    width: 600px;
    height: 350px;
    border: 1px solid silver;
    padding: 10px;
    border: 1px solid silver;
    z-index: 10;
}
#xtraDeck{
    position: absolute;
    left: 200px;
    top: 595px;
    width: 600px;
    height: 100px;
    border: 1px solid silver;
    padding: 10px;
}
#xtraDeckHeader{
    position: absolute;
    top: 565px;
    left: 200px;
    width: 610px;
    height: 16px;
    border: 1px solid silver;
    padding: 5px;
    border: 1px solid silver;
}
#sideDeckHeader{
    position: absolute;
    left: 200px;
    top: 720px;
    width: 610px;
    height: 16px;
    border: 1px solid silver;
    padding: 5px;
}
#sideDeck{
    position: absolute;
    left: 200px;
    top: 750px;
    width: 600px;
    height: 100px;
    border: 1px solid silver;
    padding: 10px;
}

/* Dragable Pics */
.makeMeDraggable {
    
    width: 44px; 
    height: 64px;
    z-index: 999999;
}
#card-container{
    height: 500px;
    width: 250px;
    float: right;
    position: absolute;
    left: 800px;
    top: 110px;
    z-index: 1000;
}

#cardPic{
    position: absolute;
    top: 150px;
    width: 178px;
    height: 255px;
    border: 1px solid silver;
    z-index: 1000;
}
#cardDesc{
    position: absolute;
    top: 410px;
    width: 178px;
    height: 255px;
    border: 1px solid silver;
    z-index: 1000;
}
form{
    position: absolute;
    z-index: 99999;
    left: 1060px;
    width: 200px;
}