#createGame{
    position: absolute;
    left: 820px;
    top: 750px;
    border-radius: 5px;
    border: 1px solid silver;
    background: #00CC00;
    text-align: center;
    width: 150px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}
#updateDeck{
    position: absolute;
    left: 820px;
    top: 800px;
    border-radius: 5px;
    border: 1px solid silver;
    background: #00CC00;
    text-align: center;
    width: 150px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

#setReady{
    position: absolute;
    left: 820px;
    top: 850px;
    border-radius: 5px;
    border: 1px solid silver;
    background: #00CC00;
    text-align: center;
    width: 150px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

#startDuel{
    position: absolute;
    left: 820px;
    top: 900px;
    border-radius: 5px;
    border: 1px solid silver;
    background: #00CC00;
    text-align: center;
    width: 150px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

#selectRPS{
    position: absolute;
    top: 80%;
    left: 40%;
    border-radius: 5px;
    border: 1px solid silver;
    background: #00CC00;
    padding: 10px;
    color: #fff;
    display: none;
    
}

#selectFirstPlayer{
    position: absolute;
    left: 40%;
    top: 70%;
    border-radius: 5px;
    border: 1px solid silver;
    text-align: center;
    width: 150px;
    padding: 10px;
    z-index: 90000;
    background: #fff;
    display: none;
}
#selectFirstPlayerGoFirst{
    cursor: pointer;
    margin-bottom: 5px;
    border: 1px solid #00CC00;
    border-radius: 5px;
}
#selectFirstPlayerGoSecond{
    cursor: pointer;
    border: 1px solid #00CC00;
    border-radius: 5px;
}